@media only screen and (max-width: 1200px) {
    .paras {
        padding: 1rem;
    }

    .thumbnail img {
        width: 35vw;
    }

    .pure,
    .pure2,
    .pure3 {
        /* font-size: 1.8rem; */
        padding: 0 0.5rem;
    }

    .second-para {
        /* font-size: 1.1rem; */
        padding: 1rem 0.5rem;
    }

    /* .second-section {
        max-width: 95%;
    } */
}

@media only screen and (max-width: 992.98px) {
    .nav-list li {
        padding: 1.375rem 1.2rem;
    }

    /* .second-section {
        height: 580px;
    } */

    /* .thumbnail img {
        width: 38vw;
    } */

    .pure,
    .pure2,
    .pure3 {
        width: 110%;
    }
}

@media only screen and (max-width: 768.98px) {
    .navbar {
        display: none;
    }

    .mob-nav {
        display: flex;
        justify-content: space-between;
    }

    .second-section {
        height: 620px;
        max-width: 100%;
        flex-direction: column;
    }

    .pure,
    .pure2,
    .pure3 {
        width: 102%;
        /* border: 1px solid black; */
        font-size: 1.653rem;
        /* margin-left: -33px; */
    }

    .thumbnail {
        width: 56%;
    }

    .thumbnail img {
        width: 58vw;
    }

    .second-para {
        font-size: 1.1rem;
    }

    .text-big {
        font-size: 2rem;
    }

    .text-small {
        font-size: 1.1rem;
    }

    .button-5 {
        font-size: 16px;
        padding: 0 10px;
    }

    .container {
        max-width: 675px;
    }

    input[type="submit"] {
        font-size: 20px;
    }

    #logo {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .box-main {
        height: 75vh;
    }

    .container {
        max-width: 550px;
    }

    .second-section {
        height: 650px;
    }

    /* #logo img {
        width: 35%;
        margin: auto;
    } */
    .thumbnail {
        width: 66%;
    }

    .thumbnail img {
        width: 68vw;
    }
}

@media only screen and (max-width: 480px) {
    .box-main {
        flex-direction: column;
        max-width: 100%;
        height: 80vh;
    }

    .first-half {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text-big,
    .text-small {
        text-align: center;
    }

    .second-half {
        display: none;
    }

    .second-section {
        height: 650px;
    }

    .pure,
    .pure2,
    .pure3 {
        width: 103%;
        font-size: 1.4rem;
    }

    .second-para {
        font-size: 1.063rem;
    }

    .thumbnail {
        width: 65%;
    }

    .thumbnail img {
        width: 68vw;
    }

    .container {
        max-width: 430px;
    }

    .mob-nav {
        background-color: #030b15;
    }

    #logo img {
        width: 44%;
        margin: auto;
    }

    #contact h2 {
        font-size: 30px;
        margin: 2.5rem;
    }
}

@media only screen and (max-width: 375.98px) {
    .second-section {
        height: 740px;
    }

    .pure,
    .pure2,
    .pure3 {
        font-size: 1.113rem;
        width: 104%;
    }

    .thumbnail {
        width: 72%;
    }

    .thumbnail img {
        width: 75vw;
    }

    #contact h2 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 360px) {
    #logo img {
        width: 72%;
    }

    .second-section {
        height: 660px;
    }

    .pure,
    .pure2,
    .pure3 {
        font-size: 1.113rem;
        width: 104%;
    }

    .second-para {
        font-size: 0.938rem;
    }

    .container {
        max-width: 330px;
    }

    .footer-text {
        font-size: 1rem;
    }

    .thumbnail {
        width: 72%;
    }

    .thumbnail img {
        width: 70vw;
    }

    #contact h2 {
        font-size: 28px;
    }
}

@media only screen and (max-width: 320px) {
    .second-section {
        height: 730px;
    }

    .container {
        max-width: 290px;
    }

    .footer-text {
        font-size: 0.94rem;
    }

    .pure,
    .pure2,
    .pure3 {
        font-size: 0.978rem;
        width: 105%;
    }

    .thumbnail {
        width: 74%;
    }

    .thumbnail img {
        width: 76vw;
    }

    #contact h2 {
        font-size: 28px;
    }
}